#gameBoard
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#gameBoard td
{
   font-family: "Courier New", Courier, monospace;
   font-size: 40px;
   height: 60px;
   width: 60px;
   text-align: center;
   cursor: pointer;
}

#gameBoard td.center
{
    border-right: solid 1px black;
    border-left: solid 1px black;
}

#gameBoard td.middle
{
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

#message
{
    margin-bottom: 50px;
    text-align: center;
}

#startOver
{
    display: block;
    margin: 50px auto 0;
    width: 100px;
}